<h1 class="title">Editar tarea</h1>
<div class="box">
  <form action="/tasks/{{task.id}}/edit" method="POST">
    <div class="field">
      <label class="label" for="title">Título</label>
      <input class="input" id="title" name="title" value="{{task.title}}" placeholder="Título para la tarea...." required>
    </div>
    <div class="field">
      <label class="label" for="desc">Descripción</label>
      <textarea class="textarea" id="desc" name="desc" required>{{task.desc}}</textarea>
    </div>
    <div class="buttons">
      <button class="button is-info">Editar</button>
    </div>
  </form>
</div>