
<div class="has-text-centered">
  <h1 class="title">Mi Proyecto de Prácticas</h1>
</div>
<div class="tile is-ancestor mt-6">
  <div class="tile is-4">
    <div class="card" style="width: 90%;">
      <header class="card-header">
        <h4 class="card-header-title">Tareas por realizar</h4>
        <a href="tasks/add" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </header>
      <div class="card-content has-background-grey-lighter">
        <div id="toDo">

          {{#each tasks}}
          <div class="content tasks">
            <div class="box">
              <p class="title is-6">{{title}}</p>
              <p>{{desc}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="tile is-4">
    <div class="card" style="width: 90%;">
      <header class="card-header">
        <h4 class="card-header-title">Tareas a en progreso</h4>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </header>
      <div class="card-content has-background-grey-lighter">
        <div id="inProgress">
        </div>
      </div>
    </div>
  </div>

  <div class="tile is-4">
    <div class="card" style="width: 90%;">
      <header class="card-header">
        <h4 class="card-header-title">Tareas a finalizadas</h4>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </header>
      <div class="card-content has-background-grey-lighter">
        <div id="completed">

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.js"></script>
<script type="module" src="js/dragAndDrop.js"></script>