<div class="tile is-ancestor">
  <div class="tile is-4">

    <div class="card" style="width: 90%;">
        <header class="card-header">
          <h4 class="card-header-title">Tareas a finalizadas</h4>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
          </a>
        </header>
        <div class="card-content has-background-grey-lighter">
          <div id="toDo">
            <div class="content tasks">
              <div class="box">
                <p class="title is-6">Título de las tarea</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto.</p>
              </div>
            </div>
            <div class="content tasks">
              <div class="box">
                <p class="title is-6">Título de las tarea</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto.</p>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
  <div class="tile is-4">

      <div class="card" style="width: 90%;">
        <header class="card-header">
          <h4 class="card-header-title">Tareas a en progreso</h4>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
          </a>
        </header>
        <div class="card-content has-background-grey-lighter">
          <div id="inProgress">
          </div>
        </div>
      </div>

  </div>
  <div class="tile is-4">

    <div class="card" style="width: 90%;">
        <header class="card-header">
          <h4 class="card-header-title">Tareas a finalizadas</h4>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
          </a>
        </header>
        <div class="card-content has-background-grey-lighter">
          <div id="completed">
            <div class="content tasks">
              <div class="box">
                <p class="title is-6">Título de las tarea</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto.</p>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>