<h1 class="title">Nueva Divisor</h1>
<div class="box">
  <form action="/dividers" method="POST">
    <div class="field">
      <label class="label" for="title">Título</label>
      <input class="input" id="title" name="title" type="text" placeholder="Título para la tarea...." required>
    </div>
    <div class="buttons">
      <button class="button is-info">Añadir</button>
    </div>
  </form>
</div>