<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/tasks">
      <h2 class="title is-5 has-text-white">Project Manager</h2>
    </a>
  </div>
  <div class="navbar-menu">

    {{#if user}}
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <p class="navbar-link">
          Enlaces
        </p>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/tasks">Lista</a>
          <a class="navbar-item" href="/tasks/add?state=1">Crear</a>
        </div>
      </div>
      <a class="navbar-item" href="/logout">Cerrar sesión</a>
    </div>
  {{/if}}
  </div>
</nav>