<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/tasks">
      <h2 class="title is-5 has-text-white">Project - Manager</h2>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#">Cuenta</a>
  </div>
  </div>
</nav>