<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project - Manager</title>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/bulma.min.css">

  <script src="https://kit.fontawesome.com/27b7811fdd.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    {{> navbar}}
  </header>

  {{#if success}}
    <div class="notification is-success is-light">
      <button class="delete"></button>
        {{success}}
    </div>
    {{/if}}

    {{#if error}}
    <div class="notification is-danger is-light">
      <button class="delete"></button>
        {{error}}
    </div>
    {{/if}}
    
  <div class="section container">
    {{{ body }}}
  </div>

  <script src="/js/delete.js"></script>
</body>
</html>